body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

.input-wrapper {
  
  position: relative;
  width: 100%;
  max-width: 100%;
}

.wrapper {
  
  background-color: #4f0f7d;
  
  border: 5px solid black;
  width: 30%;
  height: 50%;
  text-align: center;
  z-index: 1;
}

.autocomplete-box {
  position: center;
  z-index: 10;
  background-color: rgb(138, 138, 138);
  color: rgb(0, 0, 0);
  border: 1px solid #ccc;
  max-height: 100px;
  overflow-y: auto;
  width: 99%;
  display: none;
  font-size: 16px;
}

.autocomplete-item {
  padding: 8px;
  cursor: pointer;
}

.autocomplete-item:hover {
  background-color: rgb(223, 223, 223);
}

h1 {
  font-family: "Trade Winds", system-ui;
  font-size: 40px;
  color: #f1c40f;
  margin-bottom: 30px;
  font-weight: 400;
  font-style: normal;
}

textarea {
  width: 100%;
  min-height: 40px;
  max-height: 600px;
  resize: none;
  overflow: hidden;
  padding: 10px;
  font-size: 18px;
  font-family: monospace;
  box-sizing: border-box;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
}

.total-box {
  background: black;
  padding: 20px;
  margin-top: 20px;
  font-size: 20px;
}

.total-box span {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.dynamic-text {
  display: inline-block;
  word-wrap: break-word;
  white-space: normal;
  width: 100%;
  overflow-wrap: break-word;
}

.fire-background {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 1500px;
  height: 1300px;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle, rgba(23, 14, 32, 0.6) 0%, transparent 100%);
  opacity: 0;
  filter: blur(10px);
  z-index: 0;
  animation: rise 20s infinite ease-in-out;
  pointer-events: none;
}

@keyframes rise {
  0% {
    transform: translate(-50%, -50%) translateY(0px);
    opacity: 1;
  }
  50% {
    opacity: 3;
  }
  100% {
    transform: translate(-50%, -50%) translateY(-30px);
    opacity: 2;
  }
}

/* Execution Knob Styles */
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 85%; /* Full-width */
  height: 5px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 10px;
}


/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  background: #000000; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: #b4b4b4; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.label-row{
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

label[for="executionKnob"] {
  
  font-family: "Trade Winds", system-ui;
  font-size: 20px;
  color: #ffffff;
  font-style: normal;
  text-align: center;
}

input[id="demo"] {
  font-family: "Trade Winds", system-ui;
  font-size: 10px;
  color: #f1c40f;
  margin-top: 10px;
  text-align: center;
  display: inline;
  width: 100%;
}

